<!DOCTYPE html>
<html>
<head>
    <title>Form Result</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container result">
        <h1>Form Submission Received!</h1>
        <p><strong>Name:</strong> <%= userData.name %></p>
        <p><strong>Email:</strong> <%= userData.email %></p>
        <p><strong>Password:</strong> <%= userData.password %></p>

        <a href="/">Go Back</a>
    </div>
</body>
</html>
